In [1]:
#import necessary packages
import pandas as pd

In [2]:
#read in the movie data set
movie = pd.read_csv('data/movie.csv', index_col='title')

In [3]:
movie.head()

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

In [4]:
# select all the movies such that the Facebook likes for actor2 are greater than those for actor1
filt = movie['actor2_fb'] > movie['actor1_fb']
movie[filt]

Empty DataFrame
Columns: [year, color, content_rating, duration, director_name, director_fb, actor1, actor1_fb, actor2, actor2_fb, actor3, actor3_fb, gross, genres, num_reviews, num_voted_users, plot_keywords, language, country, budget, imdb_score]
Index: []

[0 rows x 21 columns]

In [5]:
#select the year, content rating, and IMDB score columns for movies ffrom the year 2016 with IMDB score less than 4
more_than4_imdb_score = movie['imdb_score'] > 4
year_2016 = movie['year'] == 2016
filt = more_than4_imdb_score & year_2016
col = ['year', 'content_rating', 'imdb_score']
movie.loc[filt, col].head()

                                      year content_rating  imdb_score
title
Batman v Superman: Dawn of Justice  2016.0          PG-13         6.9
Captain America: Civil War          2016.0          PG-13         8.2
Star Trek Beyond                    2016.0          PG-13         7.5
The Legend of Tarzan                2016.0          PG-13         6.6
X-Men: Apocalypse                   2016.0          PG-13         7.3

In [6]:
#select all the movies that are missing values for content rating
missing_cont_rate = movie['content_rating'].isna()
movie[missing_cont_rate].head()

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
Godzilla Resurgence,2016.0,Color,NaN,120.0,Hideaki Anno,28.0,Mark Chinnery,544.0,Shin'ya Tsukamoto,106.0,...,12.0,NaN,Action|Adventure|Drama|Horror|Sci-Fi,1.0,374,blood|godzilla|monster|sequel,Japanese,Japan,NaN,8.2
Harry Potter and the Deathly Hallows: Part II,2011.0,Color,NaN,NaN,Matt Birch,0.0,Rupert Grint,10000.0,Dave Legeno,570.0,...,159.0,NaN,Action|Fantasy,1.0,381,NaN,English,UK,NaN,7.5
Harry Potter and the Deathly Hallows: Part I,2010.0,Color,NaN,NaN,Matt Birch,0.0,Rupert Grint,10000.0,Toby Jones,2000.0,...,1000.0,NaN,Fantasy,4.0,252,NaN,English,UK,NaN,6.4
Asterix at the Olympic Games,2008.0,Color,NaN,116.0,Frédéric Forestier,0.0,Alain Delon,936.0,Santiago Segura,276.0,...,141.0,NaN,Adventure|Comedy|Family|Fantasy,33.0,20567,1st century b.c.|lightsaber|local blockbuster|...,French,France,78000000.0,5.1

In [7]:
#select all the movies that are missing values for both the gross and budget columns Return just those columns to verify that
#those values are indeed missing
missing_gross = movie['gross'].isna() 
missing_budget = movie['budget'].isna()
filt = missing_gross & missing_budget
movie.loc[filt,['gross', 'budget']].head()

                                               gross  budget
title
Star Wars: Episode VII - The Force Awakens       NaN     NaN
The Lovers                                       NaN     NaN
Godzilla Resurgence                              NaN     NaN
Harry Potter and the Deathly Hallows: Part II    NaN     NaN
Harry Potter and the Deathly Hallows: Part I     NaN     NaN

In [9]:
#write a function, find_missing, that has three parameters df, col1, col2 where df is a Dataframe and col1 and
#col2 are columns names. This function should return all the rows of the dataframe where col1 and col2 are missing.
#Only return the two columns as well. Answer problem seven with this function

def find_missing(df,col1,col2):
    cols = [col1, col2]
    row = df[col1].isna() & df[col2].isna()
    return df.loc[row, cols].head()
find_missing(movie, 'gross', 'budget')

                                               gross  budget
title
Star Wars: Episode VII - The Force Awakens       NaN     NaN
The Lovers                                       NaN     NaN
Godzilla Resurgence                              NaN     NaN
Harry Potter and the Deathly Hallows: Part II    NaN     NaN
Harry Potter and the Deathly Hallows: Part I     NaN     NaN

In [11]:
find_missing(movie, 'color', 'year')

                                           color  year
title
Star Wars: Episode VII - The Force Awakens   NaN   NaN
10,000 B.C.                                  NaN   NaN
Daredevil                                    NaN   NaN
Unforgettable                                NaN   NaN